* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

/* Reduce the width of meta columns of blog post listings */
.quarto-listing-container-default
  .quarto-listing-default
  .quarto-post
  .metadata {
  flex-basis: 10%;
}

/* Reduce the font size of the entire body */
body {
    font-size: 90%;  /* Shrinks font size for the entire page */
}

/* Optionally adjust specific elements */
h1, h2, h3, h4, h5, h6 {
    font-size: 90%;  /* Reduce headings */
}

/* Adjust the hero heading section */
#hero-heading {
    font-size: 80%;  /* Reduce font size for the hero heading */
}

/* Modify padding and margins to create a less "zoomed" feel */
body, p, h1, h2, h3, h4, h5, h6 {
    margin: 0.5em 0; /* Reduce margins for headings and paragraphs */
    padding: 0.5em; /* Adjust padding */
}



/* Remove focus outline from code blocks */
summary {
  outline: none;
}

/* Add border to the bottom of the navigation bar 
#quarto-header {
  border-bottom: 1px solid #dee2e6;
}
*/

/* Grid cards */
#listing-projects .card-body {
  padding: 0;
}

#listing-projects .quarto-grid-item .card-title {
  padding: 1rem 1rem 0 1rem;
}

#listing-projects .quarto-grid-item .card-text {
  padding: 1rem;
}
